@import "../../styles/colors.scss";

.sidebar {
  background-color: $sidebar-base-color;
  color: $sidebar-text-color;
  padding-top: 0.5em;
  ul {
    list-style: none;
    padding-left: 0.3em;
    li {
      padding: 0.2em 0;
    }
  }
  h4 {
    text-align: center;
    font-weight: normal;
  }
  button {
    text-align: center;
  }
}
