@import "../../styles/colors.scss";
@import "../../styles/base.scss";
.main-mail-container {
  height: 95%;
  .content-row {
    height: inherit;
  }
}
.mail-items {
  border-right: 1px solid $border-color;
  ul {
    li {
      border: 1px solid $border-color;
      background-color: $mail-item-color;
      cursor: pointer;
      p {
        margin-bottom: 0.3em;
      }
      .sender-name {
        @include small-font;
      }
    }
  }
}

.mail-content {
  padding-left: 0;
  .mail-content-container {
    padding: 0;
    margin: 0.5em;
    border: 1px solid $border-color;
  }
  .mail-header {
    border-bottom: 1px solid $border-color;
    padding: 0.5em 0;
    h4 {
      padding-left: 1em;
    }
    .icon-container {
      @include reset-margin-padding;
    }
  }
  .mail-content-header {
    background-color: $mail-item-color;
    padding: 0.75em;
  }
  .mail-content-data {
    padding: 1em;
  }
}

.header {
  background-color: $header-color;
  height: 3em;
  padding: 0.5em;

  input {
    width: 40%;
    &[type="text"] {
      border-radius: 10px;
      background-color: $searchbar-color;
      @include white-font;
      border: none;
      padding: 0 0.5em;
    }
  }
  ::placeholder {
    @include white-font;
  }
  .btn-link {
    @include white-font;
  }
}
.sub-header {
  border-bottom: 1px solid $border-color;
  height: 2.5em;
  padding: 0.5em 0;
}

.icon-container {
  display: inline-block;
  margin-left: 0.5em;
  span {
    border: 1px solid $border-color;
    padding: 0.25em 0.5em;
  }
}

.date-container {
  margin: auto;
  span {
    padding-right: 0.5em;
  }
}

.small-font {
  @include small-font;
}
